@model MovieBookingAppDemo.Models.TicketBooking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TicketBooking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.MovieId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinema.CinemaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TicketBookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
